GetAssetAddressOnCaseCreation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Swagger_Service</name>
        <label>Call Swagger Service</label>
        <locationX>121</locationX>
        <locationY>266</locationY>
        <actionName>AssetLocationServiceSwagger_getAssetLocationSwaggerExternalServiceUsingGET__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Query_for_EMC_Asset_Identifier</targetReference>
        </connector>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>SwaggerAPIKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cpid</name>
            <value>
                <elementReference>Cpid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialNumber</name>
            <value>
                <elementReference>SerialNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTag</name>
            <value>
                <elementReference>ServiceTag</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AddressLine1</assignToReference>
            <name>AssetLocationServiceResponse_AddressLine1_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AddressLine2</assignToReference>
            <name>AssetLocationServiceResponse_AddressLine2_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AddressLine3</assignToReference>
            <name>AssetLocationServiceResponse_AddressLine3_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AddressLine4</assignToReference>
            <name>AssetLocationServiceResponse_AddressLine4_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AlternateAccount</assignToReference>
            <name>AssetLocationServiceResponse_AlternateAccount_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BillingStreetLine1</assignToReference>
            <name>AssetLocationServiceResponse_BillingAddLine1_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BillingStreetLine2</assignToReference>
            <name>AssetLocationServiceResponse_BillingAddLine2_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BillingCity</assignToReference>
            <name>AssetLocationServiceResponse_BillingCity_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BillingCountry</assignToReference>
            <name>AssetLocationServiceResponse_BillingCountry_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BillingZipCode</assignToReference>
            <name>AssetLocationServiceResponse_BillingPostalCode_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BillingState</assignToReference>
            <name>AssetLocationServiceResponse_BillingState_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>City</assignToReference>
            <name>AssetLocationServiceResponse_City_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Country</assignToReference>
            <name>AssetLocationServiceResponse_Country_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Zip</assignToReference>
            <name>AssetLocationServiceResponse_PostalCode_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProductLOB</assignToReference>
            <name>AssetLocationServiceResponse_ProductLobCode_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ResponseValid</assignToReference>
            <name>AssetLocationServiceResponse_ResponseCode_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>State</assignToReference>
            <name>AssetLocationServiceResponse_State_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Street</assignToReference>
            <name>AssetLocationServiceResponse_Street_200</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Account_Billing_Address</name>
        <label>Check Account Billing Address</label>
        <locationX>729</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Billing_Address_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountDetails.BillingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_With_Account_Billing_Address</targetReference>
            </connector>
            <label>Account Billing Address Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Swagger_Response</name>
        <label>Check Swagger Response</label>
        <locationX>954</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Update_Asset_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Address Returned</defaultConnectorLabel>
        <rules>
            <name>No_Valid_Address_Returned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Zip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Billing_Address</targetReference>
            </connector>
            <label>No Valid Address Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>HES_Asset_Logic</name>
        <label>HES Asset Logic</label>
        <locationX>505</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Update_Asset_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dell Assets</defaultConnectorLabel>
        <rules>
            <name>HES_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HESAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Swagger_Response</targetReference>
            </connector>
            <label>HES Asset</label>
        </rules>
    </decisions>
    <description>This flow gets called during every case creation to fetch asset address from BIL/SDR and stamp it on asset object. If the response from BIL/SDR is null or the service errored out, account billing address will be stamped on asset object address fields</description>
    <formulas>
        <description>This formula holds the value from custom label which has API key for Swagger Service</description>
        <name>SwaggerAPIKey</name>
        <dataType>String</dataType>
        <expression>{!$Label.SwaggerAPIKey}</expression>
    </formulas>
    <interviewLabel>GetAssetAddressOnCaseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetAssetAddressOnCaseCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the account billing address when swagger service fails</description>
        <name>Get_Account_Billing_Address</name>
        <label>Get Account Billing Address</label>
        <locationX>962</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Billing_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This is to query EMC Asset Identifier field to check if the asset is a HES or not</description>
        <name>Query_for_EMC_Asset_Identifier</name>
        <label>Query for EMC Asset Identifier</label>
        <locationX>348</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HES_Asset_Logic</targetReference>
        </connector>
        <filters>
            <field>External_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cpid</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>HESAsset</assignToReference>
            <field>EMC_Asset_Identifier__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Address</name>
        <label>Update Asset Address</label>
        <locationX>749</locationX>
        <locationY>153</locationY>
        <filters>
            <field>External_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cpid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>AddressLine1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>AddressLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>AddressLine3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_4__c</field>
            <value>
                <elementReference>AddressLine4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternate_Account__c</field>
            <value>
                <elementReference>AlternateAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_StreetLine_1__c</field>
            <value>
                <elementReference>BillingStreetLine1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_StreetLine_2__c</field>
            <value>
                <elementReference>BillingStreetLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_ZipCode__c</field>
            <value>
                <elementReference>BillingZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_LOB__c</field>
            <value>
                <elementReference>ProductLOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_With_Account_Billing_Address</name>
        <label>Update Asset With Account Billing Address</label>
        <locationX>477</locationX>
        <locationY>298</locationY>
        <filters>
            <field>External_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cpid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>AccountDetails.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>AccountDetails.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>AccountDetails.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>AccountDetails.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>AccountDetails.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Call_Swagger_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Store the account details based on the accountid  from case</description>
        <name>AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>This holds the accountId from case</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressLine3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressLine4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AlternateAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetHoldFlag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingStreetLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingStreetLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the CPID from case</description>
        <name>Cpid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HESAsset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductLOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseValid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Serial Number from Case</description>
        <name>SerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains the Service Tag from Case to be passed to BIL/SDR</description>
        <name>ServiceTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
